
.signIn{
    -fx-background-color:#CCC8AA;
}
.signIn:hover{
    -fx-background-color:#000000;
    -fx-text-fill:#ffffff;
}
.exitButton{
    -fx-background-color:white;
    -fx-background-radius:100%;
    -fx-border-radius:100%;
    -fx-border-color:grey;
}
.exitButton:hover{
    -fx-background-color: #FF6969;
    -fx-border-color:#FF6969;
}
.textfield{
    -fx-border-radius:20px;
    -fx-text-fill:#000000;
    -fx-background-color:white;
    -fx-border-color:grey;
}
